{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="vh-50 gradient-custom">
  <div class="container py-5 h-50">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <h3 class="fw-bold mb-2 text-uppercase">{% trans "Sign In" %}</h3>

              {% get_providers as socialaccount_providers %}

              {% if socialaccount_providers %}
              <p class="text-white-50 mb-5">{% blocktrans with site.name as site_name %}Please sign in with one
                of your existing third party accounts. Or, <a href="{{ signup_url }}"
                  class="text-white-50 fw-bold text-uppercase">sign up</a>
                for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

              <div class="socialaccount_ballot">

                <ul class="socialaccount_providers">
                  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>

                <div class="login-or">{% trans 'or' %}</div>

              </div>

              {% include "socialaccount/snippets/login_extra.html" %}

              {% else %}
              <p class="text-white-50 mb-5">{% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}" class="text-white-50 fw-bold text-uppercase">sign up</a> first.
                {% endblocktrans %}
              </p>
              {% endif %}
              <div class="form-outline form-white mb-4">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}

                  <p class="small mb-5 pb-lg-2"><a class="button secondaryAction text-white-50"
                      href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>

                  <button class="primaryAction btn btn-outline-light btn-lg px-5" type="submit">{% trans "Sign In" %}</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}