{% extends "base.html" %}

{% load i18n %}

{% block content %}
<section class="vh-50 gradient-custom">
    <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h3 class="fw-bold mb-2 text-uppercase">{% trans "Edit Question" %}</h3>

                            <p class="text-white-50 mb-5">{% trans 'Please edit your question:' %}</p>
                            <div class="form-outline form-white mb-4">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                    {% endif %}
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">{% trans 'Update'%}</button>

                                </form>
                            </div>
                            {% for answer in answer %}
                            <div class="text-white mb-2">
                                <p class=" border rounded border-white text-start fs-6 m-0"> {{ answer.body }} </p>
                                <p class="text-capitalize fs-6 m-0">From: {{ answer.contributor }}</p>
                                <p class="text-capitalize fs-6 m-0">Created: {{ answer.created_on }}</p>
                            </div>
                            <hr>
                            {% endfor %}
                        </div>
                        <a class="text-center" href="{% url 'question_list' %}"><button
                            class="btn btn-outline-light btn-lg">Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}