.btn-nav:hover{
    background-color: grey;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
}

.btn-nav {
    display: block;
    background-color: white;
    color: black;
    font-weight: bold;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s;
}


.btn-active {
    display: block;
    background-color: black;
    color: white;
    font-weight: bold;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s;
    border-radius: 1rem;
}

a:hover {
    color:white;
}

#navbarText {
    font-size: 18px;
}

.fab {
    font-size:40px;
}

#logo{
    width: 90px;
    padding: 2px;
    margin: 2px;
}

.btn-change {
    display: block;
    background-color: white;
    color: black;
    font-weight: bold;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s;
}